USE [master]
GO
/****** Object:  Database [TrelloClone]    Script Date: 24.02.2026 23:54:57 ******/
CREATE DATABASE [TrelloClone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrelloClone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TrelloClone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrelloClone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TrelloClone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrelloClone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrelloClone]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 24.02.2026 23:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 24.02.2026 23:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](10) NULL,
	[Role] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boards]    Script Date: 24.02.2026 23:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boards](
	[BoardID] [int] IDENTITY(1,1) NOT NULL,
	[BoardName] [nvarchar](50) NULL,
	[BoardStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Boards] PRIMARY KEY CLUSTERED 
(
	[BoardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cards]    Script Date: 24.02.2026 23:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cards](
	[CardID] [int] IDENTITY(1,1) NOT NULL,
	[CardName] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[CardDate] [datetime] NOT NULL,
	[CardStatus] [bit] NOT NULL,
	[ListID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Cards] PRIMARY KEY CLUSTERED 
(
	[CardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lists]    Script Date: 24.02.2026 23:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lists](
	[ListID] [int] IDENTITY(1,1) NOT NULL,
	[ListName] [nvarchar](50) NULL,
	[BoardID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Lists] PRIMARY KEY CLUSTERED 
(
	[ListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [UserName], [Password], [Role]) VALUES (1, N'admin', N'12345', N'A')
INSERT [dbo].[Admins] ([AdminID], [UserName], [Password], [Role]) VALUES (2, N'editor', N'54321', N'U')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Boards] ON 

INSERT [dbo].[Boards] ([BoardID], [BoardName], [BoardStatus]) VALUES (17, N'Alışveriş', 1)
INSERT [dbo].[Boards] ([BoardID], [BoardName], [BoardStatus]) VALUES (19, N'gezilecek yerler', 1)
INSERT [dbo].[Boards] ([BoardID], [BoardName], [BoardStatus]) VALUES (20, N'kitaplar', 1)
SET IDENTITY_INSERT [dbo].[Boards] OFF
GO
SET IDENTITY_INSERT [dbo].[Cards] ON 

INSERT [dbo].[Cards] ([CardID], [CardName], [Description], [CardDate], [CardStatus], [ListID]) VALUES (16, N'Çikolata', NULL, CAST(N'2026-02-04T22:11:11.797' AS DateTime), 1, 16)
INSERT [dbo].[Cards] ([CardID], [CardName], [Description], [CardDate], [CardStatus], [ListID]) VALUES (17, N'biber', NULL, CAST(N'2026-02-04T22:11:14.210' AS DateTime), 1, 16)
INSERT [dbo].[Cards] ([CardID], [CardName], [Description], [CardDate], [CardStatus], [ListID]) VALUES (18, N'patlıcan', NULL, CAST(N'2026-02-04T22:11:16.747' AS DateTime), 1, 16)
SET IDENTITY_INSERT [dbo].[Cards] OFF
GO
SET IDENTITY_INSERT [dbo].[Lists] ON 

INSERT [dbo].[Lists] ([ListID], [ListName], [BoardID]) VALUES (16, N'Genel', 17)
INSERT [dbo].[Lists] ([ListID], [ListName], [BoardID]) VALUES (18, N'Genel', 19)
INSERT [dbo].[Lists] ([ListID], [ListName], [BoardID]) VALUES (19, N'Genel', 20)
SET IDENTITY_INSERT [dbo].[Lists] OFF
GO
/****** Object:  Index [IX_ListID]    Script Date: 24.02.2026 23:54:58 ******/
CREATE NONCLUSTERED INDEX [IX_ListID] ON [dbo].[Cards]
(
	[ListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BoardID]    Script Date: 24.02.2026 23:54:58 ******/
CREATE NONCLUSTERED INDEX [IX_BoardID] ON [dbo].[Lists]
(
	[BoardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cards]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cards_dbo.Lists_ListID] FOREIGN KEY([ListID])
REFERENCES [dbo].[Lists] ([ListID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cards] CHECK CONSTRAINT [FK_dbo.Cards_dbo.Lists_ListID]
GO
ALTER TABLE [dbo].[Lists]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Lists_dbo.Boards_BoardID] FOREIGN KEY([BoardID])
REFERENCES [dbo].[Boards] ([BoardID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lists] CHECK CONSTRAINT [FK_dbo.Lists_dbo.Boards_BoardID]
GO
USE [master]
GO
